body{
    background-image: url(./vegetable.jpg);
}
.item1{
    background-color: white;
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 20px 50px;
    color: rgb(241, 11, 11);
    text-shadow:1px 1px rgb(151,26,151);
    font-style: italic;
    font-weight: bold;
    border: 5px solid rgb(224, 73, 73);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(168, 37, 168);
   
}
.container1{
    border: 5px solid green;
    background-color: brown;
    
}
.box{
    background-color: white;
    border: 5px solid rgb(224, 73, 73);
    border-radius: 10px;
    width: 180px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px rgb(168, 37, 168);
    text-shadow: 1px 2px 2px rgb(167, 53, 167);
    font-weight: bold;
    padding: 20px;
    display: inline-block;
}
.box2{
padding-bottom: 60px;
background-color: white;
border: 5px solid rgb(224, 73, 73);
border-radius: 10px;
width: 180px;
text-align: center;
font-size: 20px;
box-shadow: 5px 5px rgb(168, 37, 168);
text-shadow: 1px 2px 2px rgb(167, 53, 167);
font-weight: bold;
padding: 20px;
display: inline-block;
}
.box3,.box5{
    float: right;
    margin-right: 60px;
}
.box5,.box4{
    margin-top: 100px;
    
}
.container2{
    background-color:yellow;
    width: 950px;
    margin: auto;
    border: 5px solid #5d0c5d;
    text-align: center;
    margin-top: 20px;
}
.inner-box{
    background-color:springgreen;
    font-style: italic;
}
.inner-box-1,.inner-box-2{
    display: inline-block;
    width: 470px;
    height: 270px;

}
.inner-box-3{
height: 240px;
}
.fixed-box{
    background-color: brown;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border: 5px solid rgb(224, 73, 73);
    border-radius: 10px;
    box-shadow: 5px 5px black;
    font-style: italic;
    font-weight: bold;
    color: yellowgreen;
    position: fixed;
    left: 27vw;
    bottom: 50px;
}
.hr{
    color: gray;
}
.container3{
    color: green;
}